# Node-RED temporary files
.node-red/

# Logs and debugging
*.log

# .deb or other unnecessary binary files
*.deb

# Other local config or system files
.env
.idea/
.vscode/
*.swp

# Docker files (optional, if not needed in the repo)
docker-compose.yml
*.tar
*.tar.gz
